@import url('https://fonts.googleapis.com/css?family=K2D|Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  margin: 0%;
}

main {
  margin-top: 125px;
}

.title-bar-div {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
}

#title-bar {
  list-style-type: none;
  margin: 0%;
  padding: 1%;
  width: 85%;
  margin: 0 auto;
}

#title-bar-heading {
  text-align: center;
  font-size: 3em;
  color: white;
  float: left;
  display: inline;
  margin: 0%;
  color: rgba(0,56,168,1);
}

#title-bar li {
  float: left;
  margin: 0% 2%;
  margin-left: 0%;
}

#title-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'K2D', sans-serif;
  color: rgba(0,56,168,1);
  font-size: 1.2em;
}

#title-bar li a:hover {
  background-color: #111;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

h5 {
  margin: 0%;
  display: inline-block;
  font-size: 1.5em;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media (max-width: 670px) {
  #title-bar li a {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }

  .hamburger div {
    width: 30px;
    height: 4px;
    background-color: rgba(0, 56, 168, 1);
    margin: 6px 0;
    margin-right: 20px;
  }
}
