html, body {
  text-align: center;
}

#members-heading-statement {
  margin-bottom: 2%;
}

#members-heading-statement p {
  font-size: 2.4em;
  font-weight: normal;
  display: inline-block;
  margin: 0%;
}

#members-heading-aside {
  width: 50%;
  margin: 0% auto;
  text-align: center;
}

#members-heading-aside p {
  font-size: 1.2em;
  font-weight: normal;
  display: inline-block;
  margin: 0%;
}

#image-div {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/home/timothy/Documents/CS Website/images/members.jpeg');
  background-size: cover;
  width: 100%;
  height: 35em;
  display: inline-block;
}

#member-div {
  display: block;
  width: 100%;
}

#member-list {
  padding: 0%;
}

h2 {
  font-size: 3em;
  color: rgba(0,56,168,1);
  border-bottom: 1px rgba(0,56,168,1) solid;
  display: inline-block;
  margin: 1% 0% 1% 0%;
}

#member-list li {
  list-style-type: none;
  margin: 8%;
  font-size: 2em;
}

a {
  text-decoration: none;
}

.li-container {
  height: 2em;
  width: 100%;
  padding: 2%;
  border-bottom: 1px black solid;
}

.bottom {
height: 100%;
width: 100%;
border-bottom: 1px black solid;
}

.left {
  font-weight: normal;
  width: 40%;
  height: 100%;
  float: left;
  display: inline-block;
  /* font-size: 2.5em; */
}

.right {
  /* font-size: 1.8em; */
  width: 60%;
  height: 100%;
  display: inline-block;
  float: right;
}
