.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#image-container {
  margin-bottom: 4%;
  display: block;
  overflow: hidden;
  position: relative;
}

.cs-image {
  height: 40em;
  background-size: cover;
  position: relative;
}

#main-image {
  width: 85%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/atom-rails.jpg');
  background-size: cover;
  display: none;
}

#main-image-tag {
  display: inline;
  padding: 2em 2em;
  float: left;
  color: white;
  font-size: 3em;
}

#next-arrows-div {
  display: block;
  text-align: center;
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    margin: 1em;
    font-size: 2em;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

nav {
  text-align: center;
  width: 85%;
  margin: 0% auto;
  display: none;
  height: 1500px;
}

nav div {
  height: 33%;
  text-align: left;
}

nav div h3 {
  margin-left: 2%;
}

nav div p {
  display: inline-block;
  text-align: left;
  margin-left: 2%;
}

.nav-picture-1 {
  display: inline-block;
  float: left;
  height: 80%;
  width: 40%;
  margin-left: 2%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/university commons.jpg');
  background-size: cover;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.nav-picture-1:hover {
  width: 40.5%;
}

.nav-picture-2 {
  display: inline-block;
  float: right;
  height: 80%;
  width: 40%;
  margin-right: 2%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/futuristic computer.jpg');
  background-size: cover;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.nav-picture-2:hover {
  width: 40.5%;
}

.nav-picture-3 {
  display: inline-block;
  float: left;
  height: 80%;
  width: 40%;
  margin-left: 2%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/dunkirk erie.jpg');
  background-size: cover;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.nav-picture-3:hover {
  width: 40.5%;
}

.nav-h3 {
  display: inline-block;
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.nav-p {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  display: inline-block;
  width: 50%;
}

h3 {
  text-align: left;
}

@media (max-width: 780px) {
  .nav-h3 {
    display: block;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
  }

  .nav-p {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    display: block;
    width: 50%;
  }

  .nav-picture {
    display: none;
  }
}
